  body{background-color: #ceeaf0;}
  h1 {color: #2a6875;
  background-color: #ceeaf0;}
  p{color:blue;
  font-size: 20px;}
  a{color:#2a6875;
  font-size: Impact;}

.
.button {
      font-size: 30px;
      text-align: center;
}

buttons {
    font-size: 50px;
}

.btn-text {
    color: aquamarine;
    
    background-color:blue;

    border-radius: 50px;
    
    margin-right: 250px;
    padding: 10px 20px;
    
    text-decoration:none;
    transition: all .3s;
}

.btn-text:hover{
    background-color:#2a6875 ;